version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      target: with_xdebug
    image: ${COMPOSE_PROJECT_NAME}:latest
    volumes:
      - ./:/app
      - /app/vendor
    environment:
      - XDEBUG_LOAD_MODULE=${XDEBUG_LOAD_MODULE}
      - XDEBUG_MODE=${XDEBUG_MODE}
      - XDEBUG_START_WITH_REQUEST=${XDEBUG_START_WITH_REQUEST}
      - XDEBUG_CLIENT_HOST=${XDEBUG_CLIENT_HOST}
      - XDEBUG_CLIENT_PORT=${XDEBUG_CLIENT_PORT}
      - XDEBUG_IDEKEY=${XDEBUG_IDEKEY}
    networks:
      - ${COMPOSE_PROJECT_NAME}
networks:
  custom-rules-for-static-code-analysis:
    driver: bridge
