name: "Deno lint"

on:
  push:

jobs:
  deno_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
      - name: Reviewdog Install
        run: curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b ./bin
      - name: Install Deno
        run: curl -fsSL https://deno.land/x/install/install.sh | sh
      - name: Run deno lint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./bin/reviewdog -conf=./.reviewdog.yml -runners=deno_lint -reporter=github-check
