name: "ESLint analysis on Dagger"

on:
  push:

jobs:
  eslint_dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Reviewdog Install
        run: curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b ./bin
      - name: Dagger install
        run: curl -fsSL https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.18.12 BIN_DIR=$HOME/.local/bin sh
      - name: Run textlint on Dagger
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./bin/reviewdog -conf=./.reviewdog.yml -runners=eslint_dagger -reporter=github-check -filter-mode=nofilter
