name: "Stylelint analysis"

on:
  push:

jobs:
  Stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
      - name: Run npm install
        run: npm install
      - name: Run Stylelint
        run: npm run stylelint || true
