name: "textlint"

on:
  push:

jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 22
      - name: Run npm install
        run: npm install
      - run: echo "::add-matcher::.github/problem-matcher.json"
      - name: Run textlint
        run: npm run textlint || true
