name: "ESLint analysis on Dagger"

on:
  push:

jobs:
  eslint_dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run npm install
        run: npm install
      - name: Run ESLint
        run: npm run lint || true
      - name: Reviewdog Install
        run: curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b ./bin
      - name: Run textlint on Dagger
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./bin/reviewdog -conf=./.reviewdog.yml -runners=eslint_dagger -reporter=github-check -filter-mode=nofilter
