name: "Deno lint"

on:
  push:

jobs:
  deno_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Reviewdog Install
        run: curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b ./bin
      - name: Install Deno
        run: curl -fsSL https://deno.land/x/install/install.sh | sh
      - name: Run deno lint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./bin/reviewdog -conf=./.reviewdog.yml -runners=deno_lint -reporter=github-pr-check
