name: "Biome Dagger analysis"

on:
  push:

jobs:
  Biome_dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Dagger install
        run: curl -fsSL https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.18.12 BIN_DIR=$HOME/.local/bin sh
      - name: Run Biome
        run: dagger -q -c 'biome .' || true
