name: "Biome Dagger analysis"

on:
  push:

jobs:
  Biome_dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Dagger install
        run: curl -fsSL https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.18.12 BIN_DIR=$HOME/.local/bin sh
      - name: Run Biome
        run: dagger -q -c 'biome .' || true
